.rec{
    color: #FD511A;
    text-align: center;
}
.bc-green{
    background-color: #21B573;
    color: #FFFFFF;
    text-decoration: #FFFFFF;
    border-radius: 33px;
    padding: 5px 12px;
    margin-top: 15px;
}
.container{
    margin-bottom: 50px;
}
.text-color{
    color: #21B573;
}
.get-started{
    color: #FFFFFF;
    background-color: #21B573;
    padding: 5px 10px;
    border-radius: 33px;
    border: none;
}
.or{
    color: #FD511A;
}


/* break */
#one{
    height: 270px;
    width: 270px;
    background-color: antiquewhite;
    border: none;
    border-radius: 10px;
    box-shadow: 8px 10px 15px gray;
}
.card-img-top{
    width: 66px;
    height: 85px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    
}
.card-body{
    text-align: center;
}
.card-title{
    font-size: 24px;
}
.card-text{
    font-size: 16px;
}
.online{
    font-size: 36px;
    text-align: center;
}
#sec{
    height: 390px;
    width: 483px;
    background-color: white;
    border: none;
    border-radius: 18px;
    box-shadow: 3px 5px 10px gray;

}
.card-im{
    border-radius: 11px;
    padding: 6px 5px;
}
.card-title{
    font-size: 24px;
}
.card-text{
    font-size: 16px;
}
.buy{
    color: #FFFFFF;
    background-color: #21B573;
    padding: 5px, 28px;
    border-radius: 33px;
    border: none;
    width: 137px;
    height: 35px;
    margin-left: 5px;
    margin-top: -4px;

}
.card-bod{
    padding: 6px 5px;
}
.calendar{
    width: 24px;
    height: 24px;
}
.people{
    width: 24px;
    height: 24px;
    margin-left: 20px;
    
}
.foot{
    margin-left: 8px;
    margin-top: 25px;
}
.testimonial{
    font-size: 36px;
    text-align: center;
    font-weight: 700;
}
.man{
    width: 120px;
    height: 120px;
}
.aaa{
    text-align: center;
}
.text-man{
    margin-top: 25px;
    text-align: justify;
}
.rect{
    background-color: #282531;
    height: 369px;

}
#overr{
    color: #FFFFFF;
    padding-top: 60px;
    
}
.footer{
    color: #FFFFFF;
    text-align: center;
    margin-top: 120px;
}